:root {
   --mainblack-1: rgba(23, 22, 27, 1);
   --mainblack-2: rgba(11, 11, 11, 1);
   --mainred-1: rgba(95, 10, 0, 1);
   --mainlight-beige: rgba(190, 178, 162, 1);
   --mainred-2: rgba(81, 31, 27, 1);
   --maingrey: rgba(224, 224, 224, 1);
   --secondarywhite: rgba(255, 255, 255, 1);
   --secondarystroke-grey: rgba(242, 242, 242, 1);
   --h1-mobile-font-family: "Libre Baskerville", Helvetica;
   --h1-mobile-font-weight: 400;
   --h1-mobile-font-size: 36px;
   --h1-mobile-letter-spacing: 0px;
   --h1-mobile-line-height: 125%;
   --h1-mobile-font-style: normal;
   --h2-mobile-font-family: "Libre Baskerville", Helvetica;
   --h2-mobile-font-weight: 400;
   --h2-mobile-font-size: 29px;
   --h2-mobile-letter-spacing: 0px;
   --h2-mobile-line-height: 128.99999618530273%;
   --h2-mobile-font-style: normal;
   --h3-mobile-font-family: "Inter", Helvetica;
   --h3-mobile-font-weight: 600;
   --h3-mobile-font-size: 25px;
   --h3-mobile-letter-spacing: 0px;
   --h3-mobile-line-height: 129.99999523162842%;
   --h3-mobile-font-style: normal;
   --h4-mobile-font-family: "Inter", Helvetica;
   --h4-mobile-font-weight: 500;
   --h4-mobile-font-size: 15px;
   --h4-mobile-letter-spacing: 0px;
   --h4-mobile-line-height: 130.9999942779541%;
   --h4-mobile-font-style: normal;
   --h5-mobile-font-family: "Inter", Helvetica;
   --h5-mobile-font-weight: 600;
   --h5-mobile-font-size: 14px;
   --h5-mobile-letter-spacing: 0px;
   --h5-mobile-line-height: normal;
   --h5-mobile-font-style: normal;
   --headings-h1-font-family: "Libre Baskerville", Helvetica;
   --headings-h1-font-weight: 400;
   --headings-h1-font-size: 67px;
   --headings-h1-letter-spacing: 0px;
   --headings-h1-line-height: 125%;
   --headings-h1-font-style: normal;
   --headings-h2-font-family: "Libre Baskerville", Helvetica;
   --headings-h2-font-weight: 400;
   --headings-h2-font-size: 54px;
   --headings-h2-letter-spacing: 0px;
   --headings-h2-line-height: 128.99999618530273%;
   --headings-h2-font-style: normal;
   --headings-h3-font-family: "Inter", Helvetica;
   --headings-h3-font-weight: 600;
   --headings-h3-font-size: 37px;
   --headings-h3-letter-spacing: 0px;
   --headings-h3-line-height: 129.99999523162842%;
   --headings-h3-font-style: normal;
   --headings-h4-font-family: "Inter", Helvetica;
   --headings-h4-font-weight: 500;
   --headings-h4-font-size: 24px;
   --headings-h4-letter-spacing: 0px;
   --headings-h4-line-height: 130.9999942779541%;
   --headings-h4-font-style: normal;
   --headings-h5-font-family: "Inter", Helvetica;
   --headings-h5-font-weight: 600;
   --headings-h5-font-size: 18px;
   --headings-h5-letter-spacing: 0px;
   --headings-h5-line-height: normal;
   --headings-h5-font-style: normal;
   --text-22px-regular-font-family: "Inter", Helvetica;
   --text-22px-regular-font-weight: 400;
   --text-22px-regular-font-size: 22px;
   --text-22px-regular-letter-spacing: 0px;
   --text-22px-regular-line-height: 150%;
   --text-22px-regular-font-style: normal;
   --text-22px-medium-font-family: "Inter", Helvetica;
   --text-22px-medium-font-weight: 500;
   --text-22px-medium-font-size: 22px;
   --text-22px-medium-letter-spacing: 0px;
   --text-22px-medium-line-height: 150%;
   --text-22px-medium-font-style: normal;
   --text-22px-semi-bold-font-family: "Inter", Helvetica;
   --text-22px-semi-bold-font-weight: 600;
   --text-22px-semi-bold-font-size: 22px;
   --text-22px-semi-bold-letter-spacing: 0px;
   --text-22px-semi-bold-line-height: 150%;
   --text-22px-semi-bold-font-style: normal;
   --text-22px-bold-font-family: "Inter", Helvetica;
   --text-22px-bold-font-weight: 700;
   --text-22px-bold-font-size: 22px;
   --text-22px-bold-letter-spacing: 0px;
   --text-22px-bold-line-height: 150%;
   --text-22px-bold-font-style: normal;
   --text-22px-extra-bold-font-family: "Inter", Helvetica;
   --text-22px-extra-bold-font-weight: 800;
   --text-22px-extra-bold-font-size: 22px;
   --text-22px-extra-bold-letter-spacing: 0px;
   --text-22px-extra-bold-line-height: 150%;
   --text-22px-extra-bold-font-style: normal;
   --text-21px-regular-font-family: "Inter", Helvetica;
   --text-21px-regular-font-weight: 400;
   --text-21px-regular-font-size: 21px;
   --text-21px-regular-letter-spacing: 0px;
   --text-21px-regular-line-height: 150%;
   --text-21px-regular-font-style: normal;
   --text-21px-medium-font-family: "Inter", Helvetica;
   --text-21px-medium-font-weight: 500;
   --text-21px-medium-font-size: 21px;
   --text-21px-medium-letter-spacing: 0px;
   --text-21px-medium-line-height: 150%;
   --text-21px-medium-font-style: normal;
   --text-21px-semi-bold-font-family: "Inter", Helvetica;
   --text-21px-semi-bold-font-weight: 600;
   --text-21px-semi-bold-font-size: 21px;
   --text-21px-semi-bold-letter-spacing: 0px;
   --text-21px-semi-bold-line-height: 150%;
   --text-21px-semi-bold-font-style: normal;
   --text-21px-bold-font-family: "Inter", Helvetica;
   --text-21px-bold-font-weight: 700;
   --text-21px-bold-font-size: 21px;
   --text-21px-bold-letter-spacing: 0px;
   --text-21px-bold-line-height: 150%;
   --text-21px-bold-font-style: normal;
   --text-21px-extra-bold-font-family: "Inter", Helvetica;
   --text-21px-extra-bold-font-weight: 800;
   --text-21px-extra-bold-font-size: 21px;
   --text-21px-extra-bold-letter-spacing: 0px;
   --text-21px-extra-bold-line-height: 150%;
   --text-21px-extra-bold-font-style: normal;
   --text-20px-regular-font-family: "Inter", Helvetica;
   --text-20px-regular-font-weight: 400;
   --text-20px-regular-font-size: 20px;
   --text-20px-regular-letter-spacing: 0px;
   --text-20px-regular-line-height: 150%;
   --text-20px-regular-font-style: normal;
   --text-20px-medium-font-family: "Inter", Helvetica;
   --text-20px-medium-font-weight: 500;
   --text-20px-medium-font-size: 20px;
   --text-20px-medium-letter-spacing: 0px;
   --text-20px-medium-line-height: 150%;
   --text-20px-medium-font-style: normal;
   --text-20px-semi-bold-font-family: "Inter", Helvetica;
   --text-20px-semi-bold-font-weight: 600;
   --text-20px-semi-bold-font-size: 20px;
   --text-20px-semi-bold-letter-spacing: 0px;
   --text-20px-semi-bold-line-height: 150%;
   --text-20px-semi-bold-font-style: normal;
   --text-20px-bold-font-family: "Inter", Helvetica;
   --text-20px-bold-font-weight: 700;
   --text-20px-bold-font-size: 20px;
   --text-20px-bold-letter-spacing: 0px;
   --text-20px-bold-line-height: 150%;
   --text-20px-bold-font-style: normal;
   --text-20px-extra-bold-font-family: "Inter", Helvetica;
   --text-20px-extra-bold-font-weight: 800;
   --text-20px-extra-bold-font-size: 20px;
   --text-20px-extra-bold-letter-spacing: 0px;
   --text-20px-extra-bold-line-height: 150%;
   --text-20px-extra-bold-font-style: normal;
   --text-19px-regular-font-family: "Inter", Helvetica;
   --text-19px-regular-font-weight: 400;
   --text-19px-regular-font-size: 19px;
   --text-19px-regular-letter-spacing: 0px;
   --text-19px-regular-line-height: 150%;
   --text-19px-regular-font-style: normal;
   --text-19px-medium-font-family: "Inter", Helvetica;
   --text-19px-medium-font-weight: 500;
   --text-19px-medium-font-size: 19px;
   --text-19px-medium-letter-spacing: 0px;
   --text-19px-medium-line-height: 150%;
   --text-19px-medium-font-style: normal;
   --text-19px-semi-bold-font-family: "Inter", Helvetica;
   --text-19px-semi-bold-font-weight: 600;
   --text-19px-semi-bold-font-size: 19px;
   --text-19px-semi-bold-letter-spacing: 0px;
   --text-19px-semi-bold-line-height: 150%;
   --text-19px-semi-bold-font-style: normal;
   --text-19px-bold-font-family: "Inter", Helvetica;
   --text-19px-bold-font-weight: 700;
   --text-19px-bold-font-size: 19px;
   --text-19px-bold-letter-spacing: 0px;
   --text-19px-bold-line-height: 150%;
   --text-19px-bold-font-style: normal;
   --text-19px-extra-bold-font-family: "Inter", Helvetica;
   --text-19px-extra-bold-font-weight: 800;
   --text-19px-extra-bold-font-size: 19px;
   --text-19px-extra-bold-letter-spacing: 0px;
   --text-19px-extra-bold-line-height: 150%;
   --text-19px-extra-bold-font-style: normal;
   --text-18px-regular-font-family: "Inter", Helvetica;
   --text-18px-regular-font-weight: 400;
   --text-18px-regular-font-size: 18px;
   --text-18px-regular-letter-spacing: 0px;
   --text-18px-regular-line-height: 138.99999856948853%;
   --text-18px-regular-font-style: normal;
   --text-18px-medium-font-family: "Inter", Helvetica;
   --text-18px-medium-font-weight: 500;
   --text-18px-medium-font-size: 18px;
   --text-18px-medium-letter-spacing: 0px;
   --text-18px-medium-line-height: 138.99999856948853%;
   --text-18px-medium-font-style: normal;
   --text-18px-semi-bold-font-family: "Inter", Helvetica;
   --text-18px-semi-bold-font-weight: 600;
   --text-18px-semi-bold-font-size: 18px;
   --text-18px-semi-bold-letter-spacing: 0px;
   --text-18px-semi-bold-line-height: 138.99999856948853%;
   --text-18px-semi-bold-font-style: normal;
   --text-18px-bold-font-family: "Inter", Helvetica;
   --text-18px-bold-font-weight: 700;
   --text-18px-bold-font-size: 18px;
   --text-18px-bold-letter-spacing: 0px;
   --text-18px-bold-line-height: 138.99999856948853%;
   --text-18px-bold-font-style: normal;
   --text-18px-extra-bold-font-family: "Inter", Helvetica;
   --text-18px-extra-bold-font-weight: 800;
   --text-18px-extra-bold-font-size: 18px;
   --text-18px-extra-bold-letter-spacing: 0px;
   --text-18px-extra-bold-line-height: 138.99999856948853%;
   --text-18px-extra-bold-font-style: normal;
   --text-17px-regular-font-family: "Inter", Helvetica;
   --text-17px-regular-font-weight: 400;
   --text-17px-regular-font-size: 17px;
   --text-17px-regular-letter-spacing: 0px;
   --text-17px-regular-line-height: 138.99999856948853%;
   --text-17px-regular-font-style: normal;
   --text-17px-medium-font-family: "Inter", Helvetica;
   --text-17px-medium-font-weight: 500;
   --text-17px-medium-font-size: 17px;
   --text-17px-medium-letter-spacing: 0px;
   --text-17px-medium-line-height: 138.99999856948853%;
   --text-17px-medium-font-style: normal;
   --text-17px-semi-bold-font-family: "Inter", Helvetica;
   --text-17px-semi-bold-font-weight: 600;
   --text-17px-semi-bold-font-size: 17px;
   --text-17px-semi-bold-letter-spacing: 0px;
   --text-17px-semi-bold-line-height: 138.99999856948853%;
   --text-17px-semi-bold-font-style: normal;
   --text-17px-bold-font-family: "Inter", Helvetica;
   --text-17px-bold-font-weight: 700;
   --text-17px-bold-font-size: 17px;
   --text-17px-bold-letter-spacing: 0px;
   --text-17px-bold-line-height: 138.99999856948853%;
   --text-17px-bold-font-style: normal;
   --text-17px-extra-bold-font-family: "Inter", Helvetica;
   --text-17px-extra-bold-font-weight: 800;
   --text-17px-extra-bold-font-size: 17px;
   --text-17px-extra-bold-letter-spacing: 0px;
   --text-17px-extra-bold-line-height: 138.99999856948853%;
   --text-17px-extra-bold-font-style: normal;
   --text-16px-regular-font-family: "Inter", Helvetica;
   --text-16px-regular-font-weight: 400;
   --text-16px-regular-font-size: 16px;
   --text-16px-regular-letter-spacing: 0px;
   --text-16px-regular-line-height: 138.99999856948853%;
   --text-16px-regular-font-style: normal;
   --text-16px-medium-font-family: "Inter", Helvetica;
   --text-16px-medium-font-weight: 500;
   --text-16px-medium-font-size: 16px;
   --text-16px-medium-letter-spacing: 0px;
   --text-16px-medium-line-height: 138.99999856948853%;
   --text-16px-medium-font-style: normal;
   --text-16px-semi-bold-font-family: "Inter", Helvetica;
   --text-16px-semi-bold-font-weight: 600;
   --text-16px-semi-bold-font-size: 16px;
   --text-16px-semi-bold-letter-spacing: 0px;
   --text-16px-semi-bold-line-height: 138.99999856948853%;
   --text-16px-semi-bold-font-style: normal;
   --text-16px-bold-font-family: "Inter", Helvetica;
   --text-16px-bold-font-weight: 700;
   --text-16px-bold-font-size: 16px;
   --text-16px-bold-letter-spacing: 0px;
   --text-16px-bold-line-height: 138.99999856948853%;
   --text-16px-bold-font-style: normal;
   --text-16px-extra-bold-font-family: "Inter", Helvetica;
   --text-16px-extra-bold-font-weight: 800;
   --text-16px-extra-bold-font-size: 16px;
   --text-16px-extra-bold-letter-spacing: 0px;
   --text-16px-extra-bold-line-height: 138.99999856948853%;
   --text-16px-extra-bold-font-style: normal;
   --text-15px-regular-font-family: "Inter", Helvetica;
   --text-15px-regular-font-weight: 400;
   --text-15px-regular-font-size: 15px;
   --text-15px-regular-letter-spacing: 0px;
   --text-15px-regular-line-height: 150%;
   --text-15px-regular-font-style: normal;
   --text-15px-medium-font-family: "Inter", Helvetica;
   --text-15px-medium-font-weight: 500;
   --text-15px-medium-font-size: 15px;
   --text-15px-medium-letter-spacing: 0px;
   --text-15px-medium-line-height: 138.99999856948853%;
   --text-15px-medium-font-style: normal;
   --text-15px-semi-bold-font-family: "Inter", Helvetica;
   --text-15px-semi-bold-font-weight: 600;
   --text-15px-semi-bold-font-size: 15px;
   --text-15px-semi-bold-letter-spacing: 0px;
   --text-15px-semi-bold-line-height: 138.99999856948853%;
   --text-15px-semi-bold-font-style: normal;
   --text-15px-bold-font-family: "Inter", Helvetica;
   --text-15px-bold-font-weight: 700;
   --text-15px-bold-font-size: 15px;
   --text-15px-bold-letter-spacing: 0px;
   --text-15px-bold-line-height: 138.99999856948853%;
   --text-15px-bold-font-style: normal;
   --text-15px-extra-bold-font-family: "Inter", Helvetica;
   --text-15px-extra-bold-font-weight: 800;
   --text-15px-extra-bold-font-size: 15px;
   --text-15px-extra-bold-letter-spacing: 0px;
   --text-15px-extra-bold-line-height: 138.99999856948853%;
   --text-15px-extra-bold-font-style: normal;
   --text-14px-regular-font-family: "Inter", Helvetica;
   --text-14px-regular-font-weight: 400;
   --text-14px-regular-font-size: 14px;
   --text-14px-regular-letter-spacing: 0px;
   --text-14px-regular-line-height: 150%;
   --text-14px-regular-font-style: normal;
   --text-14px-medium-font-family: "Inter", Helvetica;
   --text-14px-medium-font-weight: 500;
   --text-14px-medium-font-size: 14px;
   --text-14px-medium-letter-spacing: 0px;
   --text-14px-medium-line-height: 150%;
   --text-14px-medium-font-style: normal;
   --text-14px-semi-bold-font-family: "Inter", Helvetica;
   --text-14px-semi-bold-font-weight: 600;
   --text-14px-semi-bold-font-size: 14px;
   --text-14px-semi-bold-letter-spacing: 0px;
   --text-14px-semi-bold-line-height: 150%;
   --text-14px-semi-bold-font-style: normal;
   --text-14px-bold-font-family: "Inter", Helvetica;
   --text-14px-bold-font-weight: 700;
   --text-14px-bold-font-size: 14px;
   --text-14px-bold-letter-spacing: 0px;
   --text-14px-bold-line-height: 150%;
   --text-14px-bold-font-style: normal;
   --text-14px-extra-bold-font-family: "Inter", Helvetica;
   --text-14px-extra-bold-font-weight: 800;
   --text-14px-extra-bold-font-size: 14px;
   --text-14px-extra-bold-letter-spacing: 0px;
   --text-14px-extra-bold-line-height: 150%;
   --text-14px-extra-bold-font-style: normal;
   --text-13px-regular-font-family: "Inter", Helvetica;
   --text-13px-regular-font-weight: 400;
   --text-13px-regular-font-size: 13px;
   --text-13px-regular-letter-spacing: 0px;
   --text-13px-regular-line-height: 150%;
   --text-13px-regular-font-style: normal;
   --text-13px-medium-font-family: "Inter", Helvetica;
   --text-13px-medium-font-weight: 500;
   --text-13px-medium-font-size: 13px;
   --text-13px-medium-letter-spacing: 0px;
   --text-13px-medium-line-height: 150%;
   --text-13px-medium-font-style: normal;
   --text-13px-semi-bold-font-family: "Inter", Helvetica;
   --text-13px-semi-bold-font-weight: 600;
   --text-13px-semi-bold-font-size: 13px;
   --text-13px-semi-bold-letter-spacing: 0px;
   --text-13px-semi-bold-line-height: 150%;
   --text-13px-semi-bold-font-style: normal;
   --text-13px-bold-font-family: "Inter", Helvetica;
   --text-13px-bold-font-weight: 700;
   --text-13px-bold-font-size: 13px;
   --text-13px-bold-letter-spacing: 0px;
   --text-13px-bold-line-height: 150%;
   --text-13px-bold-font-style: normal;
   --text-13px-extra-bold-font-family: "Inter", Helvetica;
   --text-13px-extra-bold-font-weight: 800;
   --text-13px-extra-bold-font-size: 13px;
   --text-13px-extra-bold-letter-spacing: 0px;
   --text-13px-extra-bold-line-height: 150%;
   --text-13px-extra-bold-font-style: normal;
   --text-12px-regular-font-family: "Inter", Helvetica;
   --text-12px-regular-font-weight: 400;
   --text-12px-regular-font-size: 12px;
   --text-12px-regular-letter-spacing: 0px;
   --text-12px-regular-line-height: 150%;
   --text-12px-regular-font-style: normal;
   --text-12px-medium-font-family: "Inter", Helvetica;
   --text-12px-medium-font-weight: 500;
   --text-12px-medium-font-size: 12px;
   --text-12px-medium-letter-spacing: 0px;
   --text-12px-medium-line-height: 150%;
   --text-12px-medium-font-style: normal;
   --text-12px-semi-bold-font-family: "Inter", Helvetica;
   --text-12px-semi-bold-font-weight: 600;
   --text-12px-semi-bold-font-size: 12px;
   --text-12px-semi-bold-letter-spacing: 0px;
   --text-12px-semi-bold-line-height: 150%;
   --text-12px-semi-bold-font-style: normal;
   --text-12px-bold-font-family: "Inter", Helvetica;
   --text-12px-bold-font-weight: 700;
   --text-12px-bold-font-size: 12px;
   --text-12px-bold-letter-spacing: 0px;
   --text-12px-bold-line-height: 150%;
   --text-12px-bold-font-style: normal;
   --text-12px-extra-bold-font-family: "Inter", Helvetica;
   --text-12px-extra-bold-font-weight: 800;
   --text-12px-extra-bold-font-size: 12px;
   --text-12px-extra-bold-letter-spacing: 0px;
   --text-12px-extra-bold-line-height: 150%;
   --text-12px-extra-bold-font-style: normal;
 }
 